In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [23]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [24]:
engine = create_engine("sqlite:///../Resources/hawaii.sqlite")

In [25]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [26]:
# We can view all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [27]:
# Save references to each table

Measurement = Base.classes.measurement

Station = Base.classes.station

In [28]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Climate Analysis

In [32]:
#choose a date, inspect station

columns_one = inspector.get_columns('station')
for c_o in columns_one:
    print(c_o['name'], c['type'])

id FLOAT
station FLOAT
name FLOAT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [30]:
#choose a date, inspect measurement

columns = inspector.get_columns('measurement')
for c in columns:
    print(c['name'], c['type'])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [31]:
#engine execute to fetachall data

engine.execute('SELECT * FROM measurement LIMIT 5').fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65.0),
 (2, 'USC00519397', '2010-01-02', 0.0, 63.0),
 (3, 'USC00519397', '2010-01-03', 0.0, 74.0),
 (4, 'USC00519397', '2010-01-04', 0.0, 76.0),
 (5, 'USC00519397', '2010-01-06', None, 73.0)]

In [34]:
#dates in total
session.query(func.count(Measurement.date)).all()

[(19550)]

In [35]:
#earliest date
session.query(Measurement.date).order_by(Measurement.date).first()

('2010-01-01')

In [36]:
#latest date

session.query(Measurement.date).order_by(Measurement.date.desc()).first()

('2017-08-23')

In [55]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results

# Calculate the date 1 year ago from the last data point in the database

# Perform a query to retrieve the data and precipitation scores

# Sort the dataframe by date

date_prcp = session.query(Measurement.date, Measurement.prcp).\
    filter(Measurement.date > '2016-08-22').\
    filter(Measurement.prcp).\
    order_by(Measurement.date).all()

date_prcp

[('2016-08-23', 0.15),
 ('2016-08-23', 0.05),
 ('2016-08-23', 0.02),
 ('2016-08-23', 1.79),
 ('2016-08-23', 0.7),
 ('2016-08-24', 0.08),
 ('2016-08-24', 2.15),
 ('2016-08-24', 2.28),
 ('2016-08-24', 1.22),
 ('2016-08-24', 2.15),
 ('2016-08-24', 1.45),
 ('2016-08-25', 0.08),
 ('2016-08-25', 0.08),
 ('2016-08-25', 0.21),
 ('2016-08-25', 0.06),
 ('2016-08-25', 0.11),
 ('2016-08-26', 0.03),
 ('2016-08-26', 0.02),
 ('2016-08-26', 0.04),
 ('2016-08-26', 0.01),
 ('2016-08-27', 0.18),
 ('2016-08-27', 0.02),
 ('2016-08-27', 0.12),
 ('2016-08-28', 0.01),
 ('2016-08-28', 0.14),
 ('2016-08-28', 0.14),
 ('2016-08-28', 0.14),
 ('2016-08-28', 0.6),
 ('2016-08-28', 2.07),
 ('2016-08-29', 0.17),
 ('2016-08-29', 0.04),
 ('2016-08-29', 0.35),
 ('2016-08-29', 0.9),
 ('2016-08-30', 0.02),
 ('2016-08-30', 0.05),
 ('2016-08-31', 0.13),
 ('2016-08-31', 0.1),
 ('2016-08-31', 0.25),
 ('2016-08-31', 0.24),
 ('2016-08-31', 2.46),
 ('2016-09-01', 0.02),
 ('2016-09-01', 0.01),
 ('2016-09-02', 0.02),
 ('2016-09-02', 0.19),
 ('2016-09-02', 0.01),
 ('2016-09-02', 0.03),
 ('2016-09-03', 0.07),
 ('2016-09-03', 0.08),
 ('2016-09-03', 0.12),
 ('2016-09-03', 1.0),
 ('2016-09-04', 0.03),
 ('2016-09-04', 0.03),
 ('2016-09-04', 0.74),
 ('2016-09-04', 0.14),
 ('2016-09-04', 0.44),
 ('2016-09-05', 0.11),
 ('2016-09-05', 0.02),
 ('2016-09-05', 0.03),
 ('2016-09-05', 0.18),
 ('2016-09-06', 0.05),
 ('2016-09-06', 0.04),
 ('2016-09-06', 0.03),
 ('2016-09-06', 0.11),
 ('2016-09-06', 1.0),
 ('2016-09-07', 0.05),
 ('2016-09-07', 0.1),
 ('2016-09-07', 0.23),
 ('2016-09-07', 0.11),
 ('2016-09-07', 0.16),
 ('2016-09-07', 1.35),
 ('2016-09-08', 0.22),
 ('2016-09-08', 0.01),
 ('2016-09-08', 0.01),
 ('2016-09-08', 0.07),
 ('2016-09-08', 0.15),
 ('2016-09-09', 0.03),
 ('2016-09-09', 0.01),
 ('2016-09-09', 0.29),
 ('2016-09-09', 0.23),
 ('2016-09-09', 0.16),
 ('2016-09-09', 0.35),
 ('2016-09-10', 0.01),
 ('2016-09-10', 0.14),
 ('2016-09-10', 0.09),
 ('2016-09-10', 1.16),
 ('2016-09-11', 0.05),
 ('2016-09-11', 0.18),
 ('2016-09-11', 0.12),
 ('2016-09-11', 0.3),
 ('2016-09-11', 0.6),
 ('2016-09-12', 0.04),
 ('2016-09-12', 0.15),
 ('2016-09-12', 0.31),
 ('2016-09-12', 1.04),
 ('2016-09-13', 0.02),
 ('2016-09-13', 0.37),
 ('2016-09-13', 0.32),
 ('2016-09-13', 0.46),
 ('2016-09-13', 0.34),
 ('2016-09-13', 1.2),
 ('2016-09-14', 1.32),
 ('2016-09-14', 0.9),
 ('2016-09-14', 1.84),
 ('2016-09-14', 1.19),
 ('2016-09-14', 2.33),
 ('2016-09-14', 6.7),
 ('2016-09-15', 0.42),
 ('2016-09-15', 0.12),
 ('2016-09-15', 0.07),
 ('2016-09-15', 0.17),
 ('2016-09-15', 0.83),
 ('2016-09-15', 3.35),
 ('2016-09-16', 0.06),
 ('2016-09-16', 0.01),
 ('2016-09-16', 0.07),
 ('2016-09-16', 0.01),
 ('2016-09-16', 0.06),
 ('2016-09-16', 0.61),
 ('2016-09-17', 0.05),
 ('2016-09-17', 0.04),
 ('2016-09-17', 0.36),
 ('2016-09-17', 0.23),
 ('2016-09-18', 0.04),
 ('2016-09-18', 0.07),
 ('2016-09-18', 0.42),
 ('2016-09-19', 0.01),
 ('2016-09-19', 0.05),
 ('2016-09-19', 0.01),
 ('2016-09-19', 0.25),
 ('2016-09-20', 0.09),
 ('2016-09-20', 0.25),
 ('2016-09-20', 0.04),
 ('2016-09-20', 0.22),
 ('2016-09-20', 0.43),
 ('2016-09-21', 0.06),
 ('2016-09-21', 0.02),
 ('2016-09-21', 0.07),
 ('2016-09-21', 1.02),
 ('2016-09-22', 0.02),
 ('2016-09-22', 0.09),
 ('2016-09-22', 0.17),
 ('2016-09-22', 0.06),
 ('2016-09-22', 0.01),
 ('2016-09-22', 0.34),
 ('2016-09-22', 0.75),
 ('2016-09-23', 0.15),
 ('2016-09-23', 0.15),
 ('2016-09-23', 0.94),
 ('2016-09-23', 0.33),
 ('2016-09-24', 0.01),
 ('2016-09-24', 0.27),
 ('2016-09-25', 0.02),
 ('2016-09-25', 0.03),
 ('2016-09-25', 0.04),
 ('2016-09-26', 0.06),
 ('2016-09-26', 0.06),
 ('2016-09-26', 0.02),
 ('2016-09-26', 0.34),
 ('2016-09-26', 0.17),
 ('2016-09-26', 1.02),
 ('2016-09-27', 0.02),
 ('2016-09-27', 0.12),
 ('2016-09-27', 0.05),
 ('2016-09-27', 0.17),
 ('2016-09-27', 1.0),
 ('2016-09-28', 0.08),
 ('2016-09-28', 0.05),
 ('2016-09-29', 0.49),
 ('2016-09-29', 0.2),
 ('2016-09-29', 0.04),
 ('2016-09-29', 0.18),
 ('2016-09-29', 0.59),
 ('2016-09-29', 1.49),
 ('2016-09-30', 0.31),
 ('2016-09-30', 0.06),
 ('2016-09-30', 0.15),
 ('2016-09-30', 0.25),
 ('2016-09-30', 0.38),
 ('2016-10-01', 0.14),
 ('2016-10-01', 0.08),
 ('2016-10-01', 0.07),
 ('2016-10-01', 0.14),
 ('2016-10-01', 1.02),
 ('2016-10-02', 0.02),
 ('2016-10-02', 0.03),
 ('2016-10-02', 0.06),
 ('2016-10-02', 0.61),
 ('2016-10-03', 0.04),
 ('2016-10-03', 0.03),
 ('2016-10-03', 0.16),
 ('2016-10-03', 0.46),
 ('2016-10-04', 0.03),
 ('2016-10-04', 3.46),
 ('2016-10-05', 0.01),
 ('2016-10-05', 0.81),
 ('2016-10-06', 0.05),
 ('2016-10-06', 0.07),
 ('2016-10-06', 0.04),
 ('2016-10-07', 0.01),
 ('2016-10-08', 0.04),
 ('2016-10-11', 0.02),
 ('2016-10-11', 0.04),
 ('2016-10-11', 0.28),
 ('2016-10-11', 0.35),
 ('2016-10-12', 0.03),
 ('2016-10-12', 0.03),
 ('2016-10-12', 0.02),
 ('2016-10-13', 0.02),
 ('2016-10-13', 0.06),
 ('2016-10-15', 0.02),
 ('2016-10-15', 0.04),
 ('2016-10-15', 0.33),
 ('2016-10-17', 0.01),
 ('2016-10-17', 0.03),
 ('2016-10-17', 0.12),
 ('2016-10-17', 0.01),
 ('2016-10-17', 0.38),
 ('2016-10-18', 0.05),
 ('2016-10-18', 0.03),
 ('2016-10-18', 0.02),
 ('2016-10-18', 0.02),
 ('2016-10-18', 0.48),
 ('2016-10-19', 0.06),
 ('2016-10-19', 0.11),
 ('2016-10-20', 0.01),
 ('2016-10-20', 1.0),
 ('2016-10-21', 0.05),
 ('2016-10-21', 0.15),
 ('2016-10-21', 0.03),
 ('2016-10-21', 0.09),
 ('2016-10-22', 0.15),
 ('2016-10-22', 0.1),
 ('2016-10-22', 0.15),
 ('2016-10-22', 1.37),
 ('2016-10-23', 0.01),
 ('2016-10-23', 0.01),
 ('2016-10-23', 0.02),
 ('2016-10-23', 0.24),
 ('2016-10-24', 0.01),
 ('2016-10-24', 0.08),
 ('2016-10-24', 0.7),
 ('2016-10-25', 0.03),
 ('2016-10-25', 0.04),
 ('2016-10-25', 0.4),
 ('2016-10-25', 0.12),
 ('2016-10-25', 0.11),
 ('2016-10-25', 0.4),
 ('2016-10-26', 0.06),
 ('2016-10-26', 0.2),
 ('2016-10-26', 0.02),
 ('2016-10-26', 0.01),
 ('2016-10-27', 0.11),
 ('2016-10-27', 0.2),
 ('2016-10-27', 0.08),
 ('2016-10-27', 0.22),
 ('2016-10-27', 1.25),
 ('2016-10-28', 0.02),
 ('2016-10-28', 0.07),
 ('2016-10-28', 0.06),
 ('2016-10-28', 0.05),
 ('2016-10-28', 0.37),
 ('2016-10-29', 0.02),
 ('2016-10-29', 0.26),
 ('2016-10-29', 0.01),
 ('2016-10-29', 0.1),
 ('2016-10-29', 0.25),
 ('2016-10-30', 0.24),
 ('2016-10-30', 0.1),
 ('2016-10-30', 0.14),
 ('2016-10-30', 0.16),
 ('2016-10-30', 0.95),
 ('2016-10-31', 0.03),
 ('2016-10-31', 0.03),
 ('2016-10-31', 0.13),
 ('2016-10-31', 0.07),
 ('2016-10-31', 1.35),
 ('2016-11-01', 0.01),
 ('2016-11-01', 0.01),
 ('2016-11-01', 0.1),
 ('2016-11-01', 0.09),
 ('2016-11-02', 0.04),
 ('2016-11-03', 0.02),
 ('2016-11-04', 0.06),
 ('2016-11-05', 0.02),
 ('2016-11-05', 0.02),
 ('2016-11-05', 0.03),
 ('2016-11-05', 0.38),
 ('2016-11-06', 0.02),
 ('2016-11-06', 0.01),
 ('2016-11-06', 0.05),
 ('2016-11-07', 0.13),
 ('2016-11-07', 0.05),
 ('2016-11-08', 0.07),
 ('2016-11-08', 0.14),
 ('2016-11-08', 0.02),
 ('2016-11-08', 0.15),
 ('2016-11-08', 0.21),
 ('2016-11-08', 0.53),
 ('2016-11-09', 0.08),
 ('2016-11-09', 0.17),
 ('2016-11-09', 0.11),
 ('2016-11-09', 0.04),
 ('2016-11-10', 0.01),
 ('2016-11-14', 0.06),
 ('2016-11-14', 0.05),
 ('2016-11-14', 0.02),
 ('2016-11-14', 0.02),
 ('2016-11-15', 0.05),
 ('2016-11-16', 0.14),
 ('2016-11-16', 0.18),
 ('2016-11-16', 0.07),
 ('2016-11-16', 0.24),
 ('2016-11-16', 0.91),
 ('2016-11-17', 0.03),
 ('2016-11-17', 0.01),
 ('2016-11-17', 0.02),
 ('2016-11-18', 0.01),
 ('2016-11-18', 0.02),
 ('2016-11-19', 0.03),
 ('2016-11-19', 0.11),
 ('2016-11-19', 0.13),
 ('2016-11-19', 0.11),
 ('2016-11-20', 0.05),
 ('2016-11-20', 0.11),
 ('2016-11-20', 0.4),
 ('2016-11-20', 0.39),
 ('2016-11-21', 0.01),
 ('2016-11-21', 0.02),
 ('2016-11-21', 0.07),
 ('2016-11-21', 0.11),
 ('2016-11-21', 2.87),
 ('2016-11-22', 0.13),
 ('2016-11-22', 0.41),
 ('2016-11-22', 0.31),
 ('2016-11-22', 2.05),
 ('2016-11-22', 2.11),
 ('2016-11-23', 0.14),
 ('2016-11-23', 0.03),
 ('2016-11-23', 0.03),
 ('2016-11-23', 0.25),
 ('2016-11-23', 0.22),
 ('2016-11-24', 0.05),
 ('2016-11-24', 0.2),
 ('2016-11-24', 0.21),
 ('2016-11-24', 0.3),
 ('2016-11-24', 0.72),
 ('2016-11-25', 0.05),
 ('2016-11-25', 0.05),
 ('2016-11-25', 0.11),
 ('2016-11-25', 0.08),
 ('2016-11-25', 1.03),
 ('2016-11-26', 0.05),
 ('2016-11-26', 0.05),
 ('2016-11-26', 0.02),
 ('2016-11-26', 0.03),
 ('2016-11-26', 0.06),
 ('2016-11-26', 0.3),
 ('2016-11-27', 0.06),
 ('2016-11-27', 0.03),
 ('2016-11-27', 0.17),
 ('2016-11-27', 0.29),
 ('2016-11-28', 0.01),
 ('2016-11-28', 0.02),
 ('2016-11-28', 0.69),
 ('2016-11-29', 0.04),
 ('2016-11-29', 0.04),
 ('2016-11-29', 0.06),
 ('2016-11-29', 0.09),
 ('2016-11-29', 0.2),
 ('2016-11-30', 0.14),
 ('2016-11-30', 0.05),
 ('2016-11-30', 0.03),
 ('2016-11-30', 0.05),
 ('2016-11-30', 0.79),
 ('2016-12-01', 0.12),
 ('2016-12-01', 0.33),
 ('2016-12-01', 0.07),
 ('2016-12-01', 0.16),
 ('2016-12-01', 0.37),
 ('2016-12-01', 0.72),
 ('2016-12-02', 0.03),
 ('2016-12-02', 0.3),
 ('2016-12-02', 0.4),
 ('2016-12-02', 0.01),
 ('2016-12-02', 0.35),
 ('2016-12-02', 1.27),
 ('2016-12-03', 0.04),
 ('2016-12-03', 0.26),
 ('2016-12-03', 0.02),
 ('2016-12-03', 0.77),
 ('2016-12-03', 1.62),
 ('2016-12-04', 0.03),
 ('2016-12-04', 0.1),
 ('2016-12-04', 0.32),
 ('2016-12-04', 0.04),
 ('2016-12-04', 0.31),
 ('2016-12-05', 0.43),
 ('2016-12-05', 0.34),
 ('2016-12-05', 0.2),
 ('2016-12-05', 0.45),
 ('2016-12-05', 0.22),
 ('2016-12-05', 1.6),
 ('2016-12-06', 0.02),
 ('2016-12-06', 0.02),
 ('2016-12-07', 0.17),
 ('2016-12-07', 0.07),
 ('2016-12-07', 0.12),
 ('2016-12-07', 0.02),
 ('2016-12-08', 0.03),
 ('2016-12-08', 0.03),
 ('2016-12-08', 0.02),
 ('2016-12-08', 0.27),
 ('2016-12-08', 0.01),
 ('2016-12-08', 0.07),
 ('2016-12-08', 0.03),
 ('2016-12-09', 0.52),
 ('2016-12-09', 0.34),
 ('2016-12-09', 0.26),
 ('2016-12-09', 0.31),
 ('2016-12-09', 0.42),
 ('2016-12-10', 0.05),
 ('2016-12-10', 0.02),
 ('2016-12-10', 0.02),
 ('2016-12-10', 0.04),
 ('2016-12-11', 0.04),
 ('2016-12-11', 0.02),
 ('2016-12-11', 0.06),
 ('2016-12-11', 0.13),
 ('2016-12-12', 0.01),
 ('2016-12-12', 0.01),
 ('2016-12-12', 0.02),
 ('2016-12-12', 0.01),
 ('2016-12-13', 0.05),
 ('2016-12-13', 0.1),
 ('2016-12-13', 0.34),
 ('2016-12-13', 0.15),
 ('2016-12-13', 0.04),
 ('2016-12-13', 0.09),
 ('2016-12-14', 0.03),
 ('2016-12-14', 0.05),
 ('2016-12-14', 0.12),
 ('2016-12-14', 0.05),
 ('2016-12-14', 0.92),
 ('2016-12-14', 0.33),
 ('2016-12-15', 0.02),
 ('2016-12-15', 0.07),
 ('2016-12-15', 0.14),
 ('2016-12-15', 0.03),
 ('2016-12-16', 0.01),
 ('2016-12-16', 0.03),
 ('2016-12-17', 0.01),
 ('2016-12-17', 0.11),
 ('2016-12-17', 0.16),
 ('2016-12-17', 0.07),
 ('2016-12-18', 0.13),
 ('2016-12-18', 0.29),
 ('2016-12-18', 0.04),
 ('2016-12-18', 0.27),
 ('2016-12-18', 0.16),
 ('2016-12-19', 0.01),
 ('2016-12-19', 0.21),
 ('2016-12-19', 0.02),
 ('2016-12-19', 0.03),
 ('2016-12-19', 0.15),
 ('2016-12-20', 0.02),
 ('2016-12-20', 0.01),
 ('2016-12-21', 0.03),
 ('2016-12-21', 0.09),
 ('2016-12-21', 0.06),
 ('2016-12-21', 0.06),
 ('2016-12-21', 0.11),
 ('2016-12-21', 0.55),
 ('2016-12-22', 0.01),
 ('2016-12-22', 0.17),
 ('2016-12-22', 0.05),
 ('2016-12-22', 0.14),
 ('2016-12-22', 0.86),
 ('2016-12-22', 1.24),
 ('2016-12-23', 0.01),
 ('2016-12-23', 0.1),
 ('2016-12-23', 0.03),
 ('2016-12-23', 0.02),
 ('2016-12-23', 0.24),
 ('2016-12-23', 0.83),
 ('2016-12-24', 0.01),
 ('2016-12-24', 0.14),
 ('2016-12-24', 0.13),
 ('2016-12-24', 0.06),
 ('2016-12-24', 0.2),
 ('2016-12-24', 1.08),
 ('2016-12-25', 0.03),
 ('2016-12-25', 0.02),
 ('2016-12-25', 0.38),
 ('2016-12-26', 0.02),
 ('2016-12-26', 0.26),
 ('2016-12-26', 0.06),
 ('2016-12-26', 0.22),
 ('2016-12-26', 1.48),
 ('2016-12-27', 0.03),
 ('2016-12-27', 0.02),
 ('2016-12-27', 0.05),
 ('2016-12-27', 0.14),
 ('2016-12-28', 0.02),
 ('2016-12-28', 0.09),
 ('2016-12-28', 0.01),
 ('2016-12-28', 0.06),
 ('2016-12-28', 0.09),
 ('2016-12-28', 0.14),
 ('2016-12-29', 0.04),
 ('2016-12-29', 0.18),
 ('2016-12-29', 0.56),
 ('2016-12-29', 0.05),
 ('2016-12-29', 0.52),
 ('2016-12-29', 1.03),
 ('2016-12-30', 0.12),
 ('2016-12-30', 0.21),
 ('2016-12-30', 0.29),
 ('2016-12-30', 0.07),
 ('2016-12-30', 0.29),
 ('2016-12-30', 2.37),
 ('2016-12-31', 0.01),
 ('2016-12-31', 0.62),
 ('2016-12-31', 0.36),
 ('2016-12-31', 0.25),
 ('2016-12-31', 0.9),
 ('2017-01-01', 0.29),
 ('2017-01-01', 0.03),
 ('2017-01-01', 0.03),
 ('2017-01-02', 0.01),
 ('2017-01-02', 0.01),
 ('2017-01-04', 0.18),
 ('2017-01-05', 0.42),
 ('2017-01-05', 0.06),
 ('2017-01-05', 0.47),
 ('2017-01-06', 0.59),
 ('2017-01-06', 0.01),
 ('2017-01-06', 0.1),
 ('2017-01-06', 0.1),
 ('2017-01-07', 0.06),
 ('2017-01-08', 0.03),
 ('2017-01-08', 0.03),
 ('2017-01-14', 0.01),
 ('2017-01-15', 0.01),
 ('2017-01-18', 0.07),
 ('2017-01-19', 0.02),
 ('2017-01-21', 0.04),
 ('2017-01-21', 0.02),
 ('2017-01-21', 0.11),
 ('2017-01-21', 0.03),
 ('2017-01-21', 0.08),
 ('2017-01-22', 0.16),
 ('2017-01-22', 0.01),
 ('2017-01-22', 0.04),
 ('2017-01-22', 0.09),
 ('2017-01-22', 0.72),
 ('2017-01-23', 0.08),
 ('2017-01-23', 0.01),
 ('2017-01-23', 0.85),
 ('2017-01-24', 0.04),
 ('2017-01-24', 0.15),
 ('2017-01-24', 0.08),
 ('2017-01-24', 0.13),
 ('2017-01-24', 1.85),
 ('2017-01-25', 0.03),
 ('2017-01-25', 0.12),
 ('2017-01-25', 0.79),
 ('2017-01-25', 2.64),
 ('2017-01-26', 0.01),
 ('2017-01-26', 0.1),
 ('2017-01-27', 0.03),
 ('2017-01-27', 0.03),
 ('2017-01-28', 0.14),
 ('2017-01-29', 0.18),
 ('2017-01-29', 0.26),
 ('2017-01-29', 0.55),
 ('2017-01-30', 0.05),
 ('2017-02-06', 0.16),
 ('2017-02-06', 0.04),
 ('2017-02-06', 0.18),
 ('2017-02-07', 0.51),
 ('2017-02-07', 1.08),
 ('2017-02-07', 0.9),
 ('2017-02-07', 1.8),
 ('2017-02-07', 1.32),
 ('2017-02-07', 1.79),
 ('2017-02-08', 1.08),
 ('2017-02-09', 0.02),
 ('2017-02-11', 0.31),
 ('2017-02-11', 1.0),
 ('2017-02-11', 2.39),
 ('2017-02-11', 5.04),
 ('2017-02-11', 1.73),
 ('2017-02-11', 0.73),
 ('2017-02-12', 2.62),
 ('2017-02-12', 1.07),
 ('2017-02-12', 1.91),
 ('2017-02-12', 0.07),
 ('2017-02-12', 2.98),
 ('2017-02-12', 1.83),
 ('2017-02-13', 0.01),
 ('2017-02-13', 2.9),
 ('2017-02-13', 0.01),
 ('2017-02-14', 0.01),
 ('2017-02-15', 0.01),
 ('2017-02-15', 0.07),
 ('2017-02-16', 0.07),
 ('2017-02-16', 0.62),
 ('2017-02-16', 0.67),
 ('2017-02-16', 0.73),
 ('2017-02-16', 0.13),
 ('2017-02-17', 0.8),
 ('2017-02-17', 0.06),
 ('2017-02-17', 0.06),
 ('2017-02-17', 0.13),
 ('2017-02-18', 0.01),
 ('2017-02-19', 0.09),
 ('2017-02-19', 0.1),
 ('2017-02-21', 0.06),
 ('2017-02-21', 0.07),
 ('2017-02-22', 0.06),
 ('2017-02-22', 0.06),
 ('2017-02-22', 0.11),
 ('2017-02-22', 0.17),
 ('2017-02-22', 0.13),
 ('2017-02-22', 0.06),
 ('2017-02-22', 0.32),
 ('2017-02-23', 0.01),
 ('2017-02-25', 0.03),
 ('2017-02-25', 0.12),
 ('2017-02-28', 0.16),
 ('2017-02-28', 0.04),
 ('2017-02-28', 0.04),
 ('2017-02-28', 0.58),
 ('2017-03-01', 1.19),
 ('2017-03-01', 2.2),
 ('2017-03-01', 1.12),
 ('2017-03-01', 2.4),
 ('2017-03-01', 0.59),
 ('2017-03-01', 2.12),
 ('2017-03-01', 2.0),
 ('2017-03-02', 0.73),
 ('2017-03-02', 1.45),
 ('2017-03-02', 0.44),
 ('2017-03-02', 1.48),
 ('2017-03-02', 1.88),
 ('2017-03-02', 0.58),
 ('2017-03-03', 0.47),
 ('2017-03-03', 0.54),
 ('2017-03-03', 0.14),
 ('2017-03-03', 0.25),
 ('2017-03-03', 0.27),
 ('2017-03-03', 0.56),
 ('2017-03-05', 0.35),
 ('2017-03-05', 0.1),
 ('2017-03-05', 0.41),
 ('2017-03-05', 0.35),
 ('2017-03-06', 0.51),
 ('2017-03-06', 0.03),
 ('2017-03-09', 0.8),
 ('2017-03-09', 0.5),
 ('2017-03-09', 0.65),
 ('2017-03-09', 0.01),
 ('2017-03-10', 0.13),
 ('2017-03-10', 0.13),
 ('2017-03-10', 0.03),
 ('2017-03-11', 0.03),
 ('2017-03-11', 0.01),
 ('2017-03-14', 0.06),
 ('2017-03-15', 0.06),
 ('2017-03-17', 0.19),
 ('2017-03-17', 0.06),
 ('2017-03-17', 0.35),
 ('2017-03-17', 0.12),
 ('2017-03-20', 0.02),
 ('2017-03-21', 0.09),
 ('2017-03-23', 0.02),
 ('2017-03-23', 0.03),
 ('2017-03-24', 0.02),
 ('2017-03-24', 0.6),
 ('2017-03-24', 0.15),
 ('2017-03-24', 0.07),
 ('2017-03-24', 0.12),
 ('2017-03-24', 0.17),
 ('2017-03-25', 0.13),
 ('2017-03-25', 0.43),
 ('2017-03-25', 0.93),
 ('2017-03-25', 0.48),
 ('2017-03-27', 0.01),
 ('2017-03-28', 0.03),
 ('2017-03-28', 0.68),
 ('2017-03-29', 0.03),
 ('2017-03-29', 0.08),
 ('2017-03-29', 0.01),
 ('2017-03-29', 0.07),
 ('2017-03-30', 0.08),
 ('2017-03-30', 0.03),
 ('2017-03-30', 0.04),
 ('2017-03-31', 0.01),
 ('2017-04-01', 0.21),
 ('2017-04-01', 0.2),
 ('2017-04-03', 0.08),
 ('2017-04-03', 0.09),
 ('2017-04-03', 0.26),
 ('2017-04-03', 0.23),
 ('2017-04-04', 0.04),
 ('2017-04-04', 0.09),
 ('2017-04-04', 0.02),
 ('2017-04-05', 0.04),
 ('2017-04-05', 0.07),
 ('2017-04-05', 0.1),
 ('2017-04-05', 0.45),
 ('2017-04-06', 0.06),
 ('2017-04-10', 0.01),
 ('2017-04-10', 0.01),
 ('2017-04-11', 0.03),
 ('2017-04-11', 0.16),
 ('2017-04-11', 0.03),
 ('2017-04-11', 0.25),
 ('2017-04-12', 0.03),
 ('2017-04-12', 0.29),
 ('2017-04-12', 0.11),
 ('2017-04-12', 0.65),
 ('2017-04-13', 0.27),
 ('2017-04-13', 0.59),
 ('2017-04-13', 0.23),
 ('2017-04-14', 0.26),
 ('2017-04-14', 0.69),
 ('2017-04-14', 0.29),
 ('2017-04-14', 0.36),
 ('2017-04-14', 2.3),
 ('2017-04-14', 2.82),
 ('2017-04-15', 0.01),
 ('2017-04-15', 0.45),
 ('2017-04-15', 0.38),
 ('2017-04-15', 0.9),
 ('2017-04-16', 0.49),
 ('2017-04-16', 0.47),
 ('2017-04-16', 0.11),
 ('2017-04-17', 0.02),
 ('2017-04-17', 0.41),
 ('2017-04-17', 0.3),
 ('2017-04-17', 1.04),
 ('2017-04-17', 1.3),
 ('2017-04-18', 0.08),
 ('2017-04-18', 0.12),
 ('2017-04-18', 0.15),
 ('2017-04-18', 2.03),
 ('2017-04-18', 0.98),
 ('2017-04-19', 0.02),
 ('2017-04-19', 0.02),
 ('2017-04-19', 0.02),
 ('2017-04-19', 0.14),
 ('2017-04-20', 0.05),
 ('2017-04-20', 0.33),
 ('2017-04-20', 0.35),
 ('2017-04-20', 0.05),
 ('2017-04-21', 0.23),
 ('2017-04-21', 1.16),
 ('2017-04-21', 1.05),
 ('2017-04-21', 2.36),
 ('2017-04-21', 1.74),
 ('2017-04-21', 1.84),
 ('2017-04-22', 0.32),
 ('2017-04-22', 1.01),
 ('2017-04-22', 0.7),
 ('2017-04-22', 1.58),
 ('2017-04-22', 1.35),
 ('2017-04-23', 0.03),
 ('2017-04-23', 0.02),
 ('2017-04-23', 0.06),
 ('2017-04-23', 0.35),
 ('2017-04-24', 0.01),
 ('2017-04-24', 0.05),
 ('2017-04-26', 0.14),
 ('2017-04-26', 0.01),
 ('2017-04-26', 0.02),
 ('2017-04-26', 0.22),
 ('2017-04-27', 0.1),
 ('2017-04-27', 0.02),
 ('2017-04-27', 0.19),
 ('2017-04-27', 0.11),
 ('2017-04-28', 2.6),
 ('2017-04-28', 0.09),
 ('2017-04-28', 0.76),
 ('2017-04-28', 0.79),
 ('2017-04-29', 0.12),
 ('2017-04-29', 0.35),
 ('2017-04-29', 0.95),
 ('2017-04-29', 6.25),
 ('2017-04-29', 0.37),
 ('2017-04-30', 0.89),
 ('2017-04-30', 1.21),
 ('2017-04-30', 1.17),
 ('2017-04-30', 1.31),
 ('2017-04-30', 1.04),
 ('2017-04-30', 0.8),
 ('2017-05-01', 0.26),
 ('2017-05-01', 0.07),
 ('2017-05-01', 0.03),
 ('2017-05-01', 0.07),
 ('2017-05-01', 0.13),
 ('2017-05-01', 0.25),
 ('2017-05-02', 0.03),
 ('2017-05-02', 0.01),
 ('2017-05-02', 0.01),
 ('2017-05-03', 0.01),
 ('2017-05-03', 0.01),
 ('2017-05-03', 0.01),
 ('2017-05-04', 0.08),
 ('2017-05-05', 0.28),
 ('2017-05-05', 0.1),
 ('2017-05-06', 0.06),
 ('2017-05-07', 0.07),
 ('2017-05-07', 0.02),
 ('2017-05-07', 0.03),
 ('2017-05-08', 0.22),
 ('2017-05-08', 0.95),
 ('2017-05-08', 0.73),
 ('2017-05-08', 1.11),
 ('2017-05-09', 1.62),
 ('2017-05-09', 0.52),
 ('2017-05-09', 0.68),
 ('2017-05-09', 1.58),
 ('2017-05-09', 0.23),
 ('2017-05-10', 0.05),
 ('2017-05-10', 0.06),
 ('2017-05-10', 0.2),
 ('2017-05-10', 0.55),
 ('2017-05-11', 0.01),
 ('2017-05-11', 0.03),
 ('2017-05-11', 0.12),
 ('2017-05-11', 0.44),
 ('2017-05-12', 0.04),
 ('2017-05-12', 0.02),
 ('2017-05-12', 0.1),
 ('2017-05-13', 0.02),
 ('2017-05-13', 0.12),
 ('2017-05-13', 0.1),
 ('2017-05-14', 0.05),
 ('2017-05-14', 0.17),
 ('2017-05-14', 1.0),
 ('2017-05-15', 0.05),
 ('2017-05-15', 0.08),
 ('2017-05-15', 0.06),
 ('2017-05-15', 0.09),
 ('2017-05-15', 0.6),
 ('2017-05-16', 0.01),
 ('2017-05-16', 0.03),
 ('2017-05-16', 0.05),
 ('2017-05-16', 0.03),
 ('2017-05-16', 0.3),
 ('2017-05-17', 0.02),
 ('2017-05-17', 0.07),
 ('2017-05-17', 0.06),
 ('2017-05-18', 0.01),
 ('2017-05-18', 0.09),
 ('2017-05-18', 0.16),
 ('2017-05-18', 0.46),
 ('2017-05-18', 0.13),
 ('2017-05-19', 0.02),
 ('2017-05-19', 0.01),
 ('2017-05-19', 0.01),
 ('2017-05-20', 0.01),
 ('2017-05-20', 0.02),
 ('2017-05-21', 0.01),
 ('2017-05-22', 0.06),
 ('2017-05-22', 0.3),
 ('2017-05-23', 0.08),
 ('2017-05-23', 0.02),
 ('2017-05-23', 0.11),
 ('2017-05-23', 0.06),
 ('2017-05-23', 0.44),

In [60]:
# Save the query results as a Pandas DataFrame and set the index to the date column

dp_df = pd.DataFrame(date_prcp)

dp_index = dp_df.set_index('date')

dp_index

            prcp
date
2016-08-23  0.15
2016-08-23  0.05
2016-08-23  0.02
2016-08-23  1.79
2016-08-23  0.70
...          ...
2017-08-21  0.02
2017-08-21  0.56
2017-08-22  0.50
2017-08-23  0.08
2017-08-23  0.45

[1147 rows x 1 columns]

In [ ]:
# Use Pandas Plotting with Matplotlib to plot the data

In [ ]:
# Use Pandas to calculate the summary statistics for the precipitation data

In [ ]:
# Design a query to show how many stations are available in this dataset?

In [ ]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature of the most active station?

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

## Bonus Challenge Assignment

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`